/* background */
.banner__container {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  /* margin: 2rem 0; */
  overflow: hidden;
}

.banner__contain-img:not(:first-child) {
  display: none;
}

.banner__contain-img {

  width: 100%;
  height: auto;
  display: flex;

}

/* nút lùi */
.banner__prev-btn {
  width: 5rem;
  height: 6rem;

  position: absolute;
  border-color: transparent;
  border-radius: 0px 5px 5px 0px;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--black);
  opacity: 0.6;
}

.banner__prev-btn:hover {
  background-color: var(--black);
  opacity: 0.8;
  transition: 0.2s;
}

/* Hiệu ứng khi chuyển đổi các slide */
/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
 
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
 
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
*/
/* nút tiếp */

.banner__next-btn {
  width: 5rem;
  height: 6rem;
  right: 0;


  border-radius: 0px 5px 5px 0px;
  border-color: transparent;

  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;

  background-color: var(--black);
  opacity: 0.6;
  transform: rotate(180deg);

}

.banner__next-btn:hover {
  opacity: 0.8;
  Transition: 0.2s;

  background-color: var(--black);

}

.banner__prev-btn,
.banner__next-btn {
  display: none;
}

.banner:hover .banner__prev-btn,
.banner:hover .banner__next-btn {
  display: block;
}

.banner__icon-prev {
  margin-right: 0.65rem;


  font-size: 5rem;
  font-weight: 900;
  color: var(--white);

}

.banner__icon-next {
  margin-right: 0.65rem;


  font-size: 5rem;
  font-weight: 900;
  color: var(--white);

}


.banner__index-group {
  width: 100%;
  height: 1rem;

  bottom: 1rem;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}

.banner__index {
  width: 3rem;
  height: 1rem;
  margin: 0 0.75rem;

  opacity: 0.6;
  border-radius: 0.5rem;
  transform: rotate(-180deg);
  border-color: transparent;

  background-color: var(--black);


}

.banner__index:hover {
  opacity: 0.8;
  transform: 0.2s;
}

.banner__index--choosen {
  width: 3rem;
  height: 1rem;
  margin: 0 0.75rem;

  opacity: 0.6;
  border-radius: 0.5rem;
  transform: rotate(-180deg);
  border-color: transparent;

  background-color: var(--primary-color);

}

.imgIn {
  animation: moveImgIn 0.3s forwards;
}

.imgOutRight {
  animation: moveImgOutRight 0.3s forwards;
}

.imgOutLeft {
  animation: moveImgOutLeft 0.3s forwards;
}

@keyframes moveImgIn {
  100% {
    left: 0;
  }
}

@keyframes moveImgOutRight {
  100% {
    left: 100%;
  }
}

@keyframes moveImgOutLeft {
  100% {
    left: -100%;
  }
}

/* Start animate slide*/
/*
@-webkit-keyframes slideIn {
  100% {
      left: 0;
  }
}

@keyframes slideIn {
  100% {
      left: 0;
  }
}

.slideInRight {
  left: -100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.slideInLeft {
  left: 100%;
  -webkit-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

@-webkit-keyframes slideOutLeft {
  100% {
      left: -100%;
  }
}

@keyframes slideOutLeft {
  100% {
      left: -100%;
  }
}

.slideOutLeft {
  -webkit-animation: slideOutLeft 1s forwards;
  animation: slideOutLeft 1s forwards;
}

@-webkit-keyframes slideOutRight {
  100% {
      left: 100%;
  }
}

@keyframes slideOutRight {
  100% {
      left: 100%;
  }
}

.slideOutRight {
  -webkit-animation: slideOutRight 1s forwards;
  animation: slideOutRight 1s forwards;
}
*/
/*End animate Slide*/


/* thương hiệu uy tín - top 5 sản phẩm nổi bật */
.top-product__title-bar {
  width: auto;
  height: 5rem;

  margin: 0 auto;

  border: 0.01rem;
  border-radius: 0.5rem;

  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color-blur);
}

.top-product__title-bar p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: 1.8rem;
  font-family: var(--medium);
}

/* featured products  */
.top-product {
  max-width: 117rem;
  height: auto;

  margin: 0 auto 1.5rem;
}

.top-product__product-inf {
  width: auto;
  height: 37rem;


  margin-bottom: 4rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--primary-color-blur);

  display: flex;
  box-sizing: border-box;
  position: relative;
  align-items: center;
}

/*  */
.top-product__button-prev--btn {
  width: 5rem;
  height: 5rem;
  left: 0;

  position: absolute;
  border-color: transparent;
  border-radius: 0 0.5rem 0.5rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color-blur);
}

.top-product__button-prev--btn:hover {
  Transition: 0.2s;
  background-color: var(--secondary-color);

}

/* next button (nút tiếp) */

.top-product__button-next--btn {
  width: 5rem;
  height: 5rem;
  right: 0;


  border-radius: 0 0.5rem 0.5rem 0;
  border-color: transparent;

  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color-blur);
  transform: rotate(180deg);

}

.top-product__button-next--btn:hover {
  Transition: 0.2s;

  background-color: var(--secondary-color);
}

.top-product__button-icon {
  width: 5rem;
  height: 5rem;
  margin-right: 0.4rem;

  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;

  color: var(--gray);

  font-size: 2.4rem;
  font-weight: 900;
}

.top-product__button-icon:hover {
  font-size: 2.4rem;
  font-weight: 900;
  transition: 0.2s;

  color: var(--primary-color);
}

.top-product__group-img {
  width: auto;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.top-product__img {
  width: 37rem;
  height: 37rem;
  margin: 1.5rem 0 1.5rem 1.5rem;
}

.top-product__information {
  width: auto;
  height: auto;
  margin: 0 1.5rem;
}

/* home__productNameTop */
.top-product__name-top {
  width: auto;
  height: 5rem;
  margin: 1rem 0;
  border-radius: 3.5rem;

  display: flex;
  align-items: center;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--primary-color);
  background: var(--primary-color-blur);

}

.top-product__name-top--number {
  width: 5rem;
  height: 5rem;

  margin: 0 1rem;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background-color: var(--primary-color);
}

.top-product__name-top div p {
  font-size: 1.8rem;
  position: absolute;

  color: var(--white);
}

.top-product__name-top--number--letter {
  font-family: var(--regular);
  font-size: 1.8rem;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* màu sắc  */
.top-product__color {
  width: auto;
  height: auto;
  margin: 1.5rem 0;


  display: flex;
  align-items: center;
}

.top-product__color-size {
  width: 5rem;
  height: 5rem;
  margin: 0 0.7rem;

  position: relative;
  cursor: pointer;
}

.top-product__color-input {
  width: 5rem;
  height: 5rem;

  position: absolute;
  opacity: 0;
}

.top-product__color-bg {
  width: 5rem;
  height: 5rem;

  position: absolute;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-color);

}

.top-product__color-icon {
  position: absolute;
  opacity: 0;

  font-size: 2rem;
  text-shadow: 0.2rem 0 0 var(--black), -0.2rem 0 0 var(--black), 0 0.2rem 0 var(--black), 0 -0.2rem 0 var(--black), 0.1rem 0.1rem var(--black), -0.1rem -0.1rem 0 var(--black), 0.1rem -0.1rem 0 var(--black), 0.1rem -0.1rem 0 var(--black);

  color: var(--white);

}


.top-product__color-input:checked~label i {
  opacity: 1;

  transition: 0.2s;
}

/* Product size featured (Kích cỡ giày)  */
.top-product__size {
  width: auto;
  height: 5rem;

  margin: 0.5rem 0;

  display: flex;
}

.top-product__size-stocking {
  width: 5rem;
  height: 5rem;
  margin: 0 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  border-radius: 0.5rem;
  border: 0.2rem solid var(--secondary-color);

}

.top-product__size-input {
  width: 5rem;
  height: 5rem;

  display: flex;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.top-product__size-input:checked~label {
  background: var(--primary-color-blur);
  color: var(--primary-color);
}


.top-product__size-stocking--label {
  width: 5rem;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.8rem;
  font-family: var(--regular);

  transition: 0.2s;
}

.top-product__size-stocking:hover {
  transition: 0.2s;

  border: 0.2rem solid var(--primary-color);
}

/* Product size out of stock (size hết hàng) */
.top-product__size-out-of-stock {
  width: 5rem;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  margin: 0 0.75rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--secondary-color);
}

.top-product__size-out-of-stock label {
  font-size: 1.8rem;
  font-family: var(--regular);

  color: var(--gray);
}

.top-product__size-input--out-of-stock {
  width: 5rem;
  height: 5rem;

  display: flex;
  position: absolute;
  opacity: 0;
}

.top-product__line {
  width: auto;
  height: 0;
  border-top: 0.2rem dashed var(--secondary-color);
  margin: 3rem 0;
}

/*price (giá tiền) */
.top-product__price {
  width: auto;
  height: auto;

  display: flex;
}

.top-product__price div p {
  font-size: 1.8rem;
  font-family: var(--medium);
}

.top-product__price-cost {
  width: 17rem;
  height: 5rem;

  margin: 0.8rem;
  border-radius: 2.5rem;

  align-items: center;
  display: flex;
  justify-content: center;

  font-size: 1.8rem;
  color: var(--primary-contrast-color);

  background: var(--primary-contrast-color-blur);
}

.top-product__price-percent {
  width: 8rem;
  height: 5rem;

  margin: 0.8rem;

  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 2.5rem;

  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--white);

  background: var(--primary-contrast-color);

}

.top-product__price-reduce {
  width: 17rem;
  height: 5rem;
  margin: 0.8rem;


  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 2.5rem;

  text-decoration-line: line-through;
  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--gray);

  background: var(--primary-color-blur);
}

/* Add to cart - buy now (Thêm vào giỏ hàng - mua ngay) */
.top-product__cart {
  width: auto;
  height: auto;

  margin: 2rem 0;

  display: flex;
}

.top-product__cart-add {
  width: 37rem;
  height: 5rem;

  margin: 0 0.7rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;

  color: var(--white);

  background-color: var(--primary-color);
}

.top-product__cart-add p {
  font-size: 1.8rem;
  font-family: var(--regular);
}

.top-product__cart-add:hover {
  transition: 0.2s;
  opacity: 0.9;

  border: 0.2rem solid var(--primary-color);

  color: var(--white);


}

.top-product__cart-buy {
  width: 37rem;
  height: 5rem;

  margin: 0 0.7rem;
  border: 0.2rem solid var(--primary-contrast-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;

  color: var(--primary-contrast-color);

}

.top-product__cart-buy:hover {
  transition: 0.2s;

  color: var(--white);
  background-color: var(--primary-contrast-color);
}

.top-product__cart-buy p {
  font-size: 1.8rem;
  font-family: var(--regular);
}

/* trademark (Thương hiệu) */
.trademark {

  max-width: 117rem;
  height: auto;

  margin: 4rem auto 2.5rem;
}

.trademark__title-bar {
  width: auto;
  height: 5rem;

  flex-wrap: wrap;

  border: 0.01rem;
  border-radius: 0.5rem;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color-blur);
}


.trademark__title-bar p {
  font-size: 1.8rem;
  font-family: var(--medium);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.trademark__contain-logo {
  max-width: 117rem;
  height: auto;

  display: flex;

  justify-content: space-evenly;
  /*flex-wrap: wrap;*/
}

.trademark__logo {
  max-width: 37rem;
  width: 100%;
  height: 10rem;

  border: 0.2rem solid var(--secondary-color);
  border-radius: 0.5rem;
  margin: 1.5rem 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.trademark__logo img {
  width: 8.9rem;

}

/* tablet */
@media only screen and (max-width: 1140px) {
  .top-product {
    max-width: 76rem;
    height: auto;
    margin: 0 auto 1.5rem;
  }

  .top-product__product-inf {
    width: 100%;
    height: auto;

    margin-bottom: 4rem;
    border-radius: 0.5rem;
    border: 0.2rem solid var(--primary-color-blur);

    display: block;
    box-sizing: border-box;
    position: relative;
    align-items: center;
  }

  .top-product__button-prev--btn {
    width: 5rem;
    height: 5rem;
    top: 30%;

    position: absolute;
    border-color: transparent;
    border-radius: 0 0.5rem 0.5rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color-blur);
  }

  .top-product__button-next--btn {
    width: 5rem;
    height: 5rem;
    right: 0;
    top: 30%;

    border-radius: 0 0.5rem 0.5rem 0;
    border-color: transparent;

    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color-blur);
    transform: rotate(180deg);

  }

  .top-product__img {
    padding-right: 1.5rem;
  }

  .trademark {
    max-width: 100%;
    height: auto;
    padding: 1.5rem;
  }

  .trademark__contain-logo {
    max-width: 117rem;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trademark__logo {
    width: 100%;
    height: 10rem;
    margin: 0.75rem;


    border: 0.2rem solid var(--secondary-color);
    border-radius: 0.5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

/* mobile  */
@media only screen and (max-width: 768px) {
  .top-product {
    width: 100%;
    height: auto;

    padding: 0 1.5rem;
    margin-bottom: 2rem;
  }

  .top-product__button-prev--btn {
    width: 5rem;
    height: 5rem;
    top: 25%;


    position: absolute;
    border-color: transparent;
    border-radius: 0 0.5rem 0.5rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color-blur);
  }

  .top-product__button-next--btn {
    width: 5rem;
    height: 5rem;
    right: 0;
    top: 25%;

    border-radius: 0 0.5rem 0.5rem 0;
    border-color: transparent;

    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color-blur);
    transform: rotate(180deg);

  }

  .productInf {
    width: 100%;
    height: auto;

    margin-bottom: 4rem;
    border-radius: 0.5rem;
    border: 0.2rem solid rgba(18, 110, 130, 0.05);

    box-sizing: border-box;
    position: relative;
    align-items: center;

  }

  .top-product__name-top {
    padding: 0 1.5rem;

    display: flex;
    text-align: center;
  }

  .top-product__size-stocking {
    width: 5rem;
    height: 5rem;
    margin: 0 0.35rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    border-radius: 0.5rem;
    border: 0.2rem solid #D8E3E7;
  }

  .trademark {
    width: 100%;
    height: auto;

    color: var(--black);
    padding: 0 8rem;
  }

  .trademark__contain-logo {
    max-width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trademark__logo {
    width: 100%;
    height: 10rem;
    margin: 0.75rem;

    border: 0.2rem solid var(--secondary-color);
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }


}