.introduce {
  max-width: 81.5rem;
  padding: 0 1.5rem;
  height: auto;

  position: relative;

  margin: 0 auto 4rem;
}

.introduce__content {
  display: flex;

  width: 100%;
  height: 5rem;

  align-items: center;
  justify-content: space-between;

  border-radius: 0.5rem;

  background-color: var(--primary-color-blur);
}
/* về ingnite */
.introduce__milestones {
  position: absolute;

  top: -13rem;

  width: 0;
  height: 0;
}
/* liên hệ */
.introduce__milestones-1 {
  position: absolute;

  top: 31.5rem;

  width: 0;
  height: 0;
}
/* hỗ trợ */
.introduce__milestones-2 {
  position: absolute;

  top: 87rem;

  width: 0;
  height: 0;
}
/* chính sách đổi trả */
.introduce__milestones-3 {
  position: absolute;

  top: 95.5rem;

  width: 0;
  height: 0;
}
/*  Warranty Policy  (chính sách bảo hành) */
.introduce__milestones-4 {
  position: absolute;

  top: 208rem;

  width: 0;
  height: 0;
}
/* hình thức thanh toán  */
.introduce__milestones-5 {
  position: absolute;

  top: 268.4rem;

  width: 0;
  height: 0;
}
/* hình thức giao hàng */
.introduce__milestones-6 {
  position: absolute;

  top: 338.5rem;

  width: 0;
  height: 0;
}
.introduce__content-text {
  padding: 1.5rem;

  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--primary-color);
}

.introduce__content-group {
  width: 5rem;
  height: 5rem;
}

.introduce__content-group-button {
  width: 5rem;
  height: 5rem;

  border-radius: 0.5rem;
  border-color: transparent;
  background-color: var(--primary-color-blur);
  transition: 0.2s;
}

.introduce__content-icon {
  font-size: 1.8rem;
  color: var(--primary-color);
}
/* hover */
.introduce__content:hover .introduce__content-group-button {
  background-color: var(--secondary-color);
}
.introduce__text-group {
  width: 100%;
  height: auto;

  padding: 1.5rem 1.5rem;
  margin-bottom: 2rem;

  border-radius: 0.5rem;
  border: 0.2rem solid var( --secondary-color);

}

.introduce__text {
  padding: 0.7rem 0;

  line-height: 2.7rem;
  text-align: justify;
  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--black);
}
/* google map */
.introduce__google-map-group {
  width: auto;
  height: 32.5rem;
  border: 0.2rem solid var(--gray-blur);
  padding: 0.5rem 0.5rem;
}

.introduce__google-map {
  width: 100%;
  height: 31rem;
}

/* hỗ trợ */
.introduce__support {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 5rem;

  margin-top: 4rem;
  margin-bottom: 2rem;

  border-radius: 0.5rem;
  background-color: var(--primary-color);
}

.introduce__support-text {
  line-height: 2.7rem;
  font-size: 1.8rem;
  font-family: var(--regular);
  color: var(--white);
}

/* ul li */

.introduce__text-group-ul {
  width: 100%;
  height: auto;

  padding: 0 1rem;
  margin-bottom: 1rem;
}

/* li */
.introduce__text-ul {
  list-style-type: none;

  text-align: justify;

  line-height: 2.7rem;
  font-size: 1.8rem;
  font-family: var(--bold);
  color: var(--black);

}

.introduce__text-li {
  width: calc(100%-3rem);

  margin-left: 3rem;

  list-style-type: disc;
  text-align: justify;

  line-height: 2.7rem;
  font-size: 1.8rem;
  font-family: var(--regular);

  color: var(--black);

}

@media only screen and (max-width: 767px) { 
  /* về ingnite */
.introduce__milestones {
  position: absolute;

  top: -13rem;

  width: 0;
  height: 0;
}
/* liên hệ */
.introduce__milestones {
  position: absolute;

  top: 45rem;

  width: 0;
  height: 0;
}
/* liên hệ */
.introduce__milestones-1 {
  position: absolute;

  top: 45rem;

  width: 0;
  height: 0;
}
/* hỗ trợ */
.introduce__milestones-2 {
  position: absolute;

  top: 100rem;

  width: 0;
  height: 0;
}
/* chính sách đổi trả */
.introduce__milestones-3 {
  position: absolute;

  top: 109rem;

  width: 0;
  height: 0;
}
/*  Warranty Policy  (chính sách bảo hành) */
.introduce__milestones-4 {
  position: absolute;

  top: 254rem;

  width: 0;
  height: 0;
}
/* hình thức thanh toán  */
.introduce__milestones-5 {
  position: absolute;

  top: 328rem;

  width: 0;
  height: 0;
}
/* hình thức giao hàng */
.introduce__milestones-6 {
  position: absolute;

  top: 328rem;

  width: 0;
  height: 0;
}

}