.filter-form {
  max-width: 50rem;
  min-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;

  /* background: pink; */
}

#filter-form__check {
  display: none;
}
 
.filter-form__header {
  display: flex;

  width: 100%;
  height: 5rem;

  background: var(--white);

  border-radius: 0.5rem;
}

.filter-form__title {
  display: flex;
  align-items: center;

  width: calc(100% - 5rem);
  height: 5rem;
  padding: 0 1.5rem;

  /* background: lightgreen; */
  color: var(--black);

  font-family: var(--regular);
  font-size: 1.7rem;

  transition: 0.4s;
}

.filter-form__collapse-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;

  background: var(--primary-color-blur);

  transition: 0.4s;
}

.filter-form__collapse-icon {
  color: var(--black);

  font-size: 1.6rem;

  transition: 0.4s;
}

.filter-form__body-container {
  overflow: hidden;

  width: 100%;
  max-height: 0rem;

  border-radius: 0.5rem;

  background: var(--white);

  transition: 0.4s;
}

.filter-form__body {
  width: 100%;
  height: auto;
  padding: 1.5rem 1rem;

  border-radius: 0.5rem;

  background: var(--primary-color-blur);
}

.filter-form__form-group,
.filter-form__form-group--first {
  width: 100%;
  max-height: 100rem;
  margin-top: 2rem;

  /* background: pink; */

  transition: 0.2s;
}

.js-enter-identify-value-form,
.js-enter-interval-value-form {
  overflow: hidden;

  box-sizing: content-box;

  width: 100%;
  max-height: 0rem;
  padding-bottom: 0rem;

  /* background: hotpink; */

  transition: 0.4s;
}

.filter-form__form-group--first {
  margin-top: 0;
}

.filter-form__form-group--open-sub-form {
  margin: 2rem 0;
}

.filter-form__form-title {
  display: block;
  
  width: 100%;
  height: auto;
  margin-bottom: 1rem;

  /* background: lightblue; */
  color: var(--black);

  font-family: var(--regular);
  font-size: 1.6rem;
}

.filter-form__select-input {
  width: 100%;
  height: 5rem;
  padding: 0 1rem;

  background: var(--white);
  color: var(--black);

  border-radius: 0.5rem;
  border: 0.2rem solid var(--secondary-color);

  font-family: var(--regular);
  font-size: 1.7rem;

  transition: 0.2s;
}

.filter-form__select-input:hover {
  border-color: var(--primary-color);
}

.filter-form__select-input:focus {
  border-color: var(--primary-color);
}

.filter-form__select-option {
  /* line height, padding, height can not custom this option height */
  /* try to use ul li and custom with js */
  background: var(--white);
  color: var(--black);

  font-family: var(--regular);
  font-size: 1.8rem;
}

.filter-form__notification {
  width: 100%;
  height: auto;
  margin-top: 0.5rem;

  /* background: lightgreen; */
  color: var(--primary-contrast-color);

  font-family: var(--regular);
  font-size: 1.4rem;
}

.filter-form__radio-input-group{
  display: flex;

  width: 100%;
  height: 5rem;

  background: var(--white);

  border-radius: 0.5rem;
  border: 0.2rem solid var(--secondary-color);

  transition: 0.2s;
}
.filter-form__radio-input-group:hover {
  border-color: var(--primary-color);
}
.filter-form__radio-input-container {
  width: 100%;
  height: auto;
}
.filter-form__radio-input{
  display: none;
}
.filter-form__radio-input-label{
  display: block;

  width: 100%;
  height: 4.6rem;

  /* background: yellow; */
  color: var(--black);

  border-radius: 0.5rem;

  font-family: var(--regular);
  font-size: 1.7rem;
  line-height: 4.6rem;
  text-align: center;

  transition: 0.2s;
}

.filter-form__radio-input-label:hover {
  background: var(--primary-color-blur);
}

.filter-form__radio-input:checked ~ .filter-form__radio-input-label {
  background: var(--primary-color-blur);
  color: var(--primary-color);
}

.filter-form__input {
  width: 100%;
  height: 5rem;
  padding: 1.5rem;

  background: var(--white);
  color: var(--black);

  border-radius: 0.5rem;
  border: 0.2rem solid var(--secondary-color);

  font-family: var(--regular);
  font-size: 1.7rem;

  transition: 0.2s;
}

.filter-form__input:focus,
.filter-form__input:hover {
  border-color: var(--primary-color);
}

.filter-form__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5rem;

  background: var(--primary-color-blur);
  color: var(--primary-color);

  border-radius: 0.5rem;
  border: 0.2rem solid var(--secondary-color);

  font-family: var(--medium);
  font-size: 1.4rem;
  text-transform: uppercase;

  transition: 0.2s;
}

.filter-form__submit-btn:hover {
  background: var(--secondary-color);
}

.filter-form__header:hover .filter-form__title,
#filter-form__check:checked ~ .filter-form__header .filter-form__title{
  color: var(--primary-color);
}

#filter-form__check:checked ~ .filter-form__header .filter-form__collapse-btn {
  background: var(--secondary-color);
}

.filter-form__header:hover .filter-form__collapse-icon {
  color: var(--primary-color);
}
#filter-form__check:checked ~ .filter-form__header .filter-form__collapse-icon {
  color: var(--primary-color);

  transform: rotate(90deg);
}

#filter-form__check:checked ~ .filter-form__body-container {
  max-height: 100rem;
}

.filter-form__notification-container {
  width: 100%;
  height: auto;
  padding: 1.5rem;

  background: var(--black);
  color: var(--white);

  border-radius: 0.5rem;

  font-family: var(--regular);
  line-height: 3rem;
}

.filter-form__notification-title{
  font-size: 1.6rem;

}
.filter-form__notification-content{
  font-size: 1.6rem;

}

.data-table__contain-table-body--empty {
  width: 100%;
  height: 5rem;

  background: red;
}