.statistic-chart {
  max-width: 54rem;
  height: auto;
  padding: 1.5rem;
  margin: 1.5rem auto;

  background: var(--white);

  border-radius: 0.5rem;
}

.statistic-chart__header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5rem;

  background: var(--primary-color-blur);
  color: var(--primary-color);

  border-radius: 0.5rem;

  font-size: 1.7rem;
  font-family: var(--medium);
}

.statistic-chart__choose-statistic-group {
  display: flex;

  width: 100%;
  height: 5rem;
}

.statistic-chart__choose-statistic-item,
.statistic-chart__choose-statistic-item--choosen {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(100% / 3);
  height: 5rem;

  border-radius: 0.5rem;

  font-size: 1.6rem;
  font-family: var(--regular);

}

.statistic-chart__choose-statistic-item {
  background: var(--gray-blur);
  color: var(--gray);

  transition: 0.2s;
}

.statistic-chart__choose-statistic-item:hover {
  background: var(--primary-color-blur);
  color: var(--primary-color);
}

.statistic-chart__choose-statistic-item--choosen {
  background: var(--primary-color);
  color: var(--white);

}

.statistic-chart__contain-chart {
  width: 100%;
  height: auto;
  padding: 2.3rem 2rem 0 3rem;

  /* background-color: blue; */
}