*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html
{
    font-family: Helvetica, Arial, sans-serif;
}
#wrapper
{
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: bottom left;
    width: 100vw;
    height: 1000px;
}

/* header */
#header
{
    max-width: 1024px;
    min-height: 80px;
    margin: auto;
    padding: 1px;
}
#header > .title
{
    width: fit-content;
    height: fit-content;
    margin: 25px auto;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}
/* end header */

/* container */
#container
{
    background-color: white;
    max-width: 620px;
    min-height: 400px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(70, 70, 70);
    padding: 10px 10px 15px;
    position: relative;
}
.contain-total-form
{
    max-width: 590px;
    height: fit-content;
    margin: auto;
}
.contain-form,
#soThichKhac
{
    max-width: 580px;
    min-height: 40px;
    margin: 12px auto;
    font-size: 18px;
    font-weight: bold;
}
#soThichKhac
{
    display: none;
}
.contain-form > .form-title
{
    float: left;
    width: 135px;
    margin-top: 6px;
    font-size: 20px;
    font-weight: bold;
}
.contain-form > input[type="text"],
.contain-form > input[type="number"]
{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
.contain-form > input[type="text"]
{
    width: calc(100% - 135px);
}
.contain-form > input[type="number"]
{
    width: 54px;
}
.contain-form > #nam 
{
    width: 80px !important;
}
.contain-form > .contain-checkboxs-input,
.contain-form > .contain-radios-input
{
    float: right;
    background-color: none;
    width: calc(100% - 135px);
    height: fit-content;
}
.contain-form .contain-radio
{
    float: left;
    width: 95px;
    margin-top: 3px;
}
.contain-form .contain-radio > label,
.contain-form .contain-checkbox > label
{
    float: left;
    display: block;
    margin: 4px 5px 0px 0px;
}
.contain-form input[type="radio"],
.contain-form input[type="checkbox"]
{
    width: 25px;
    height: 25px;
}
.contain-form .contain-checkbox
{
    float: left;
    width: 147px;
    height: 38px;
    margin-top: 3px;
}
.contain-button
{
    margin: 5px auto;
    width: fit-content;
}
.contain-button > button
{
    background-color: rgba(255, 94, 36, 0.397);
    font-size: 20px;
    font-weight: bolder;
    padding: 7px 12px;
    border-radius: 10px;
    border: 1px solid black;
}
.contain-button > button:hover
{
    background-color: rgba(36, 255, 237, 0.397);
}
/* end container */