strong{
    color:brown;
}
div.doan1{
    color:red;
    font-style:italic;
}
div.doan2{
    color:blue;
    font-style:italic;
}
div.doan3{
    color:green;
    font-style:italic;
}
div.doan4{
    color:red;
    font-style:italic;
}