html
{
    --main-color: rgb(192, 192, 192); 
    font-family: tahoma;
    font-size: 11px;
    color: black;
}
#wrapper
{
    width: 100%;
    max-width: 900px;
    min-height: 295px;
    border: 2px solid blue;
    margin: 50px auto 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0.5%;
}
p
{
    text-align: justify;
}
p.left
{
    height: 234px;
    overflow: hidden;
    text-overflow: ellipsis;
}
p.right
{
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}
h2
{
    margin-top: 0px;
    font-variant: small-caps;
    font-family: tahoma;
    font-size: 13px;
    color: #0063a4;
    text-decoration: none;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.boxleft
{
    width: 68.5%;
    height: 275px;
    float: left;
    margin-right: 0.5%;
    background-color: var(--main-color); 
}
.boxright
{
    width: 30%;
    min-height: 275px;
    float: right;
}
.boxright-child-1
{
    width: 100%;
    min-height: 101px;
    margin-bottom: 9px;
    background-color: var(--main-color);
}
.boxright-child-2
{
    width: 100%;
    height: 165px;
    background-color: var(--main-color);
}
.boxright img
{
    width: 100%;
    height: auto;
}
